.plant-image {
  background-image: url("../../assets/plant.png");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.text-banner {
  width: 643px;
  height: 65%;
  background-color: rgba(255, 243, 227, 1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: absolute;
  left: 51.2%;
  bottom: 0;
}

.description-banner {
  padding-top: 89px;
  padding-left: 41px;
  padding-right: 56px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (min-width: 1920px) {
  .plant-image {
    background-position: 0 -160px;
  }
}
