.banner {
  background-image: url("../../assets/bannerShop.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 316px;
}

.title-banner {
  font-weight: 500;
  text-align: center;
  padding-top: 121px;
  font-size: 48px;
  line-height: 72px;
}

.home-shop {
  display: flex;
  justify-content: center;
  gap: 6px;
  align-items: center;
}

.second-shop {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.link-home {
  font-weight: 500;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.cards {
  display: flex;
  gap: 32px;
  flex-flow: row wrap;
  padding-left: 102px;
  padding-right: 102px;
  padding-bottom: 70px;
}

.container-filter {
  padding-left: 98px;
  padding-right: 100px;
  margin-bottom: 63px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  max-height: 100px;
  align-items: center;
  background-color: #f9f1e7;
}

.filters-page {
  display: flex;
  justify-content: space-between;
  gap: 348px;
  width: 100%;
}

.filter-icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.filter-p {
  padding-right: 11px;
}

.fourballsicon {
  padding-right: 12px;
}

.caixinha {
  padding-right: 18px;
}

.showing {
  border-left: 2px solid #9f9f9f;
  height: 37px;
  display: flex;
  align-items: center;
}

.showing-results {
  padding-left: 34px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.range-results {
  display: flex;
  align-items: center;
  gap: 17px;
}

.show-number {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.input-number {
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: rgba(159, 159, 159, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  box-sizing: border-box;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number[type="number"] {
  -moz-appearance: textfield;
}

.short-by {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.sort-order {
  width: 188px;
  height: 55px;
  font-size: 16px;
  border: none;
  box-sizing: border-box;
  appearance: none;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(159, 159, 159, 1);
  padding-left: 30px;
}

.sort-order:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.sort-order option {
  border: none !important;
  border-radius: 0 !important;
}

@media screen and (min-width: 1920px) {
  .cards {
    justify-content: center;
    gap: 70px;
  }

  .container-filter {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: center;
  }

  .filters-page {
    display: flex;
    justify-content: space-between;
    gap: 348px;
    width: 100%;
  }
}
