.title-product {
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  color: rgba(58, 58, 58, 1);
}

.description-product {
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(137, 137, 137, 1);
}

.prices-container {
  padding-left: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.discount-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(58, 58, 58, 1);
}

.old-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration: line-through;
  color: rgba(176, 176, 176, 1);
}

.cards-products {
  padding-bottom: 32px;
}

.products {
  background-color: rgba(244, 245, 247, 1);
  width: 285px;
  height: 446px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.product-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 58, 58, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.products:hover .product-hover {
  opacity: 1;
}

.product-actions {
  position: absolute;
  top: 170px;
  left: 40px;
  width: 202px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.products:hover .product-actions {
  opacity: 1;
}

.action-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: rgba(58, 58, 58, 1);
  font-size: 16px;
  font-weight: 600;
  width: 202px;
  height: 48px;
  cursor: pointer;
}

.see-details-button {
  width: 202px;
  height: 48px;
  margin: 0 auto;
  padding-left: 41px;
  padding-right: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b88e2f; /* Cor do texto permanece */
  background-color: rgba(255, 255, 255, 1); /* Define uma cor de fundo */
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.products:hover .see-details-button {
  opacity: 1; /* Aparece quando o mouse passa por cima */
  background-color: rgba(
    255,
    255,
    255,
    1
  ); /* Garante que o fundo continue branco */
  color: #b88e2f; /* Mantém o texto visível */
}

.action-item + .action-item {
  margin-top: 24px;
}

.share-compare-like {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  gap: 20px;
  align-items: center;
}

.share-item,
.compare-item,
.like-item {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}

.share-item:hover,
.compare-item:hover,
.like-item:hover {
  color: #ffffff;
}

.share-item i,
.compare-item i,
.like-item i {
  font-size: 16px;
}

.products a {
  text-decoration: none;
}
