.footer-itens {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 48px;
  display: flex;
  gap: 136px;
  padding-bottom: 48px;
}

.location {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left: 0;
}

.map-location {
  max-width: 285px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(159, 159, 159, 1);
}

.itens {
  display: flex;
  gap: 72px;
}

.highlights {
  padding-bottom: 9px;
  color: rgba(159, 159, 159, 1);
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 0;
}

.menu-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-top: 0;
  padding-left: 72px;
}

.footer-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.itens-newsletter {
  display: flex;
  flex-direction: column;
  gap: 43px;
}

.newsletter-form {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  gap: 11px;
}

.email {
  border-bottom: 1px solid #000000;
  width: 200px;
}

.input-email {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 400;
  line-height: 21px;
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

.subscribe {
  border-bottom: 1px solid #000000;
  width: 75px;
}

.button-subscribe {
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.divider {
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.credits {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 35px;
  padding-bottom: 38px;
}

.credits-sentence {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-weight: 400;
}

@media screen and (min-width: 1920px) {
  .footer-itens {
    display: flex;
    gap: 280px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .itens {
    gap: 200px;
  }

  .itens-newsletter {
    padding-left: 60px;
  }
}
